{% extends 'base.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        {% if error %}
            <div class="col-xl-6 col-md-10 col-lg-10 col-sm-12">
                <div class="card o-hidden border-0 my-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% for account in api.accounts %}
                <div class="col-xl-6 col-md-10 col-lg-10 col-sm-12">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 mb-4 {% if account.finances and account.finances.blocked == false %}text-success{% else %}text-danger{% endif %}">
                                                {{ account.address.accountId }}
                                            </h1>
                                        </div>

                                        <table class="table table-striped">
                                            <tr>
                                                <td>Адрес</td>
                                                <td>{{ account.subscriberPlaces[0].place.address.visibleAddress }}</td>
                                            </tr>
                                            <tr>
                                                <td>Номер телефона</td>
                                                <td>{{ account.phone }}</td>
                                            </tr>
                                            <tr>
                                                <td>Токен доступа</td>
                                                <td>{{ account.data.refreshToken }}</td>
                                            </tr>
                                            {% if account.finances and account.finances.balance %}
                                                <tr>
                                                    <td>Баланс</td>
                                                    <td>{{ account.finances.balance }} руб</td>
                                                </tr>
                                            {% endif %}
                                        </table>

                                        {% for placeCounter, place in account.subscriberPlaces %}
                                            {% if placeCounter > 0 %}
                                                <hr />
                                            {% endif %}
                                            {% for accessControl in place.place.accessControls %}
                                                <div class="row text-center">
                                                    <div class="col-8">
                                                        <figure class="figure">
                                                            <img src="{{ hassioIngress }}/api/camera/snapshot/{{ account.address.accountId }}/{{ accessControl.cameraId }}" class="figure-img img-fluid rounded" alt="Камера">
                                                        </figure>
                                                    </div>
                                                    <div class="col-4 text-right">
                                                        <h6>{{ accessControl.name }}</h6>
                                                        <div class="form-group">
                                                            <button class="btn btn-primary"
                                                                    onclick="openDoor(this, '{{ account.address.accountId }}', '{{ accessControl.cameraId }}')">
                                                                Открыть дверь
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col">
                                                        <h4>Видеопоток с камеры домофона</h4>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" readonly value="http://{{ hostIp }}:10080/api/camera/stream/{{ account.address.accountId }}/{{ accessControl.cameraId }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            <div class="text-center">
                                                <div class="btn-group" role="group">
                                                    <button class="btn btn-sm btn-primary"
                                                            onclick="toggleEvents(this, '{{ account.address.accountId }}')">
                                                        Показать все события
                                                    </button>
                                                    <button class="btn btn-sm btn-info"
                                                            onclick="toggleHomeAssistant(this, '{{ place.place.id }}')">
                                                        Показать интеграцию в Home Assistant
                                                    </button>
                                                    <form class="remove-account" action="{{ hassioIngress }}{{ path('remove_account') }}" method="post">
                                                        <input type="hidden" name="accountId" value="{{ account.address.accountId }}">
                                                        <button class="btn btn-sm btn-danger">
                                                            Удалить учетную запись
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>

                                            {% if place.additionalCameras and account.cameras|length > 1 %}
                                                <div class="row text-left mt-5">
                                                    <div class="col-12">
                                                        <h4>Дополнительные камеры</h4>
                                                    </div>
                                                    {% for cameraId in place.additionalCameras %}
                                                        <div class="col-6">
                                                            <figure class="figure">
                                                                <img src="{{ hassioIngress }}/api/camera/snapshot/{{ account.address.accountId }}/{{ cameraId }}" class="figure-img img-fluid rounded" alt="Камера">
                                                                <figcaption class="figure-caption text-end">{{ account.cameras[cameraId].Name }}</figcaption>
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" readonly value="http://{{ hostIp }}:10080/api/camera/stream/{{ account.address.accountId }}/{{ cameraId }}">
                                                                </div>
                                                            </figure>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}

                                            {% if account.events %}
                                                <div class="row text-left mt-5">
                                                    <div class="col">
                                                        <h4>Последние события</h4>
                                                        <div id="events_{{ account.address.accountId }}">
                                                            {% for i, event in account.events %}
                                                                <div class="card{% if i >= 5 %} d-none hidden-events{% endif %}" data-accountId="{{ account.address.accountId }}">
                                                                    <div id="header_event_{{ event.id }}">
                                                                        <div class="row mb-0" data-toggle="collapse" data-target="#content_event_{{ event.id }}" aria-expanded="true" aria-controls="content_event_{{ event.id }}">
                                                                            <div class="col-8">
                                                                                <button class="btn btn-link {% if event.eventTypeName in validEvents %}{% if event.eventTypeName == 'accessControlCallMissed' %}text-danger{% else %}text-info{% endif %}{% else %}text-secondary{% endif %}">
                                                                                    {{ event.message }}
                                                                                </button>
                                                                            </div>
                                                                            <div class="col-4 text-right">
                                                                                <button class="btn btn-link text-muted">
                                                                                    {{ event.timestamp|format_datetime('short', 'short', locale='ru') }}
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    {% if event.eventTypeName in validEvents %}
                                                                    <div id="content_event_{{ event.id }}" class="collapse{% if i == 0 %} show{% endif %}" aria-labelledby="header_event_{{ event.id }}" data-parent="#events_{{ account.address.accountId }}">
                                                                        <div class="card-body">
                                                                            <div class="form-group">
                                                                                <input type="text" class="form-control" readonly value="http://{{ hostIp }}:10080/api/camera/stream/{{ account.address.accountId }}/{{ event.cameraId }}/{{ event.timestamp }}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            <div class="row text-left mt-5">
                                                <div class="col">
                                                    <div class="d-none ha-integration" data-placeId="{{ place.place.id }}">
                                                        <h5><code>configuration.yaml</code></h5>
                                                        <pre>camera:{% for accessControl in place.place.accessControls %}

  - platform: generic
    name: domru_domofon_{{ accessControl.cameraId }}
    still_image_url: http://{{ hostIp }}:10080/api/camera/snapshot/{{ account.address.accountId }}/{{ accessControl.cameraId }}
    stream_source: http://{{ hostIp }}:10080/api/camera/stream/{{ account.address.accountId }}/{{ accessControl.cameraId }}
                                            {% endfor %}
{% if place.additionalCameras and account.cameras|length > 1 %}
    {% for camera in account.cameras %}
        {% if camera.ID != place.cameraId %}

  - platform: generic
    name: domru_domofon_{{ camera.ID }}
    still_image_url: http://{{ hostIp }}:10080/api/camera/snapshot/{{ account.address.accountId }}/{{ camera.ID }}
    stream_source: http://{{ hostIp }}:10080/api/camera/stream/{{ account.address.accountId }}/{{ camera.ID }}
        {% endif %}
    {% endfor %}
{% endif %}

{% if account.finances and account.finances.balance %}
sensors:
  - platform: rest
    name: domru_domofon_finances
    resource: http://{{ hostIp }}:10080/api/{{ account.address.accountId }}
    value_template: '{{ '{{' }} value_json.finances.balance {{ '}}' }}'
    scan_interval: 3600
    headers:
      User-Agent: homeassistant
{% endif %}

rest_command:
{% for accessControl in place.place.accessControls %}
  domru_open_door_{{ accessControl.cameraId }}:
    url: http://{{ hostIp }}:10080/api/open/{{ account.address.accountId }}/{{ accessControl.cameraId }}

{% endfor %}
script:
{% for accessControl in place.place.accessControls %}
  domru_open_door_{{ accessControl.cameraId }}:
    sequence:
      - service: rest_command.domru_open_door_{{ accessControl.cameraId }}
{% endfor %}
                                                        </pre>

                                                        <h5><code>ui-lovelace.yaml</code></h5>
                                                        <pre>{% for accessControl in place.place.accessControls %}
- type: picture-glance
  title: "{{ accessControl.name }}"
  entities:
    - entity: script.domru_open_door_{{ accessControl.cameraId }}
      icon: "mdi:door-open"
      name: "Открыть дверь"
      tap_action:
        action: toggle
  hold_action:
      action: call-service
      service: rest_command.domru_open_door_{{ accessControl.cameraId }}
  camera_image: camera.domru_domofon_{{ accessControl.cameraId }}

{% endfor %}
</pre>

                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-xl-6 col-md-10 col-lg-10 col-sm-12 mb-5">
            <div class="d-grid gap-2 d-md-block mb-5">
                <a href="{{ hassioIngress }}{{ path('login_login') }}" class="btn btn-primary d-block">Добавить еще</a>
            </div>
        </div>
    </div>

    <script>
	    $(document).ready(function () {
            $('.figure-img').each(function (i, el) {
	    	    setInterval(function() {
                    $(el).attr("src", $(el).attr('src'));
		        }, 1000 + Math.random() * 1000);
            });

            $('.remove-account').on('submit', function(e) {
            	e.preventDefault();
	            if (confirm('Вы действительно хотите удалить учетку запись?')) {
	            	$(e.target).find('button').text('Удаляем').attr('disabled', 'true');
	            	e.target.submit();
	            }
            });
	    });


		function openDoor(self, accountId, cameraId) {
			$.ajax({
                url: '{{ hassioIngress }}/api/open/' + accountId + '/' + cameraId,
                method: 'get',
                beforeSend: function() {
	                $(self).removeClass('btn-primary').addClass('btn-secondary').text('Открываем')
                },
                success: function () {
	                $(self).removeClass('btn-secondary').addClass('btn-primary').text('Открыть дверь')
                }
			});
		}

		function toggleEvents(self, accountId) {
            var s = $(self),
                container = $('.hidden-events[data-accountId='+accountId+']');
			if (container.hasClass('d-none')) {
                s.text('Показать последние 5 событий');
            } else {
	            s.text('Показать все события');
            }

			container.toggleClass('d-none');
        }

		function toggleHomeAssistant(self, placeId) {
            var s = $(self),
                container = $('.ha-integration[data-placeId='+placeId+']');
            if (container.hasClass('d-none')) {
                s.text('Скрыть интеграцию в Home Assistant');
            } else {
	            s.text('Показать интеграцию в Home Assistant');
            }

			container.toggleClass('d-none');
        }
    </script>
{% endblock %}
